<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<mapper namespace="um">
	<select id="test" resultType="java.lang.String">
		select CODE
        from TB_AIRLINE
        limit 1;
	</select>
</mapper>
